.header {
  background-color: #9d0b0b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  margin-top: 0px;
  color: white;
  flex: 1;
}

.header_input_container {
  flex: 1;
}

.header_info {
  margin-top: 5px;
  font-size: 8px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  border: 3px dashed #da2d2d;
}

.content_span {
  padding: 15px 20px;
  color: #da2d2d;
  background-color: #f6da63;
  margin-bottom: 10px;
}

.content_span_close {
  padding: 0px 20px;
  position: absolute;
  right: 10px;
}

.content_none {
  display: none;
}
