.header {
  background-color: #9d0b0b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  margin-top: 0px;
  color: white;
  flex: 1;
}

.header_input_container {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  border: 3px dashed #da2d2d;
}

.content_span {
  flex: 1;
  padding: 10px 20px;
  color: #da2d2d;
  background-color: #f6da63;
  margin-bottom: 10px;
}
